@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto+Condensed:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}

header > img{
    width: 2rem;
    height: 2rem;
    background-color: white;
    cursor: pointer;
}

.nav{
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;  
    background-color: #000;
    margin: 1rem;
}

html{
    font-size: 16px;
}

.header-content li{
    list-style-type: none;
    padding: 0 1rem;
    color: aliceblue;
    background-color: #000;
    letter-spacing: 1px;
    text-transform:capitalize;
}

.header-content li:hover{
    color: #2a9d8f;
    transition: 0.2s;
    cursor: pointer;
    transform:translateY(-2px);
}

.header-content{
    display: flex;
}

.contact-btn{
    padding: 2px 12px;
    background-color: #000;
    border: 1px solid #2a9d8f;
    color: #2a9d8f;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 0.5px;
    font-weight:bold;
}

.contact-btn:hover{
    color: #000;
    background-color: #2a9d8f;
    transition: 0.5s;
    border: 1px solid #2a9d8f;
}

ul li{
    background-color:#2a9d8f ;
}