
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: black;
    margin: 1rem;
}
.footer-heading{
    font-size: 30px;
    margin: 1rem auto;
    background-color: #000;
}

.footer-description{
    width: 45%;
    margin: 0 auto;
    text-align: center;
    background-color: #000;
}

.social-media-icons{
    display: flex;
    list-style-type: none;
    margin: 1rem auto;
    gap: 1rem;
    margin-bottom: 3rem;
    background-color: #000;
    cursor: pointer;
}

.media-icons:hover{
    transform: translateY(-5px);
    transition: ease 0.2s;
}

.media-icons{
    background-color: black;
    width: 30px;
    height: fit-content;
}

ul li{
    background-color: #000;
}